.bg-primary {
    background-color: #d3d62e !important; /* apivia color green */
}

.bg-secondary {
    background-color: #0a2d82 !important; /* apivia color blue */
}

.text-primary {
    color: #d3d62e !important; /* apivia color green */
}

.text-secondary {
    color: #0a2d82 !important; /* apivia color blue */
}

.border-secondary {
    border-color: #0a2d82 !important; /* apivia color blue */
}

.button:hover {
    background-color: #0a2d82 !important; /* apivia color blue */
    color: #d3d62e !important; /* apivia color green */
}

.hidden-image {
    width: 250px;
    height: 250px;
}

small {
    font-size: 15px;
}








