
#page {
	background-color:fcd315;
	/*border:1px solid black;*/
	text-align:left;
	width:80%;
	padding:30px;
	height:450px;
}

h1 {
	font-size:30px;
	font-family:Arial, sans serif;
	margin-bottom: 30px;
}

img.pendu {
	/*float:right;*/
	margin-left: 250px;
	margin-bottom: 50px;
}

h2 {
	font-size:16px;
	font-family:Arial, sans-serif;
	margin-bottom: 30px;
}

#mot {
	margin:30px 0 0 0;
	clear:both;
	/*top:100px;*/
}

#mot td {
	padding:10px;
	background-color:#d3d62e; /* apivia color green */
	border:2px inset black;
	color: #0a2d82; /* apivia color blue */
	width:30px;
	height:30px;
	font-weight:bold;
	font-size:1.5em;
	text-align:center;
}

 #mot p{
	visibility:hidden;
}

#clavier{
	border:4px outset black;
	padding:10px;
	background-color:#2b80d5;
}

#clavier td {
	background-color:white;
	border:1px solid black;
	width:200px;
	height:50px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
}

a.lien{
	color: #0a2d82; /* apivia color blue */
	text-decoration:none;
	font-size:20px;
}

a.lien:hover{
	color: #d3d62e; /* apivia color green */
	font-weight:bold;
	text-decoration:none;
}

.white10, .white14 {
	background-color: white !important;
}